.gender-label{
	color: #c4c4c4;
}
.gender-header{
	margin-right: 50px;
}

.gender-radio{
	width: 25px !important;
	height: 25px !important;
}
.gender-radio-group{
	vertical-align:middle;
	display:inline;
	margin-right:10px;
}

.register-hero-img{
	height:50px;
}

.register-form{
	margin-top: 80px;
}